<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="" class="logo">
                LOGOTYPE
            </a>
            <a href="#" class="header__right">
                <div class="profile__icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.0497 17.9658C17.5749 16.6368 16.5287 15.4625 15.0733 14.6249C13.618 13.7874 11.8348 13.3334 10.0003 13.3334C8.16588 13.3334 6.38268 13.7874 4.92732 14.6249C3.47195 15.4625 2.42574 16.6368 1.95094 17.9658"
                              stroke="#A5ADBC" stroke-width="1.6" stroke-linecap="round"/>
                        <ellipse cx="9.99968" cy="6.66667" rx="4.16667" ry="4.16667" stroke="#A5ADBC" stroke-width="1.6"
                                 stroke-linecap="round"/>
                    </svg>
                </div>
                <span class="profile__text">
                    Профиль
                </span>
            </a>
        </div>
    </div>
</header>