{% extends 'base.html' %}
{% load static %}

{% block title_page %}Change Password{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="box__wrap">
        <div class="form__box">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form__box-head">
                    <h2 class="form__title">
                        Профиль
                    </h2>
                    <a href="{% url 'logout' %}" class="form__reg form__sign-out">
                        Выход
                    </a>
                </div>
                <label class="form__input-wrap">
                    <input type="text" name="first_name" id="id_first_name" class="form__input" placeholder="Введите новое имя" value="{{data.first_name}}" required>
                </label>
                <label class="form__input-wrap">
                    <input type="text" name="last_name" id="id_last_name" class="form__input" placeholder="Введите новую фамилию" value="{{data.last_name}}" required>
                </label>
                <button class="form__btn" type="submit">
                    Сохранить изменения
                </button>
                <a href="{% url 'password-change' %}"class="sms__timer change__filed">
                    Сменить пароль
                </a>
                <a href="{% url 'change-num_page' %}" class="sms__timer change__filed">
                    Сменить номер
                </a>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}{% endblock %}
