{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="box__wrap">
        <div class="form__box">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form__box-head">
                    <h2 class="form__title">
                        Придумайте новый пароль
                    </h2>
                </div>
                <label class="form__input-wrap form__password-input-wrap">
                    <input name="new_password1" type="password" class="form__input" placeholder="Придумайте новый пароль" required>
                    <div class="form__eye"></div>
                </label>
                <label class="form__input-wrap form__password-input-wrap">
                    <input name="new_password2" type="password" class="form__input" placeholder="Повторите пароль" required>
                    <div class="form__eye"></div>
                </label>
                <span style="color: #ff0000">
                    {% for f in form %}
                        {{f.errors}}
                    {% endfor %}
                </span>
                <button class="form__btn" type="submit">
                    Сохранить изменения
                </button>
            </form>
        </div>
    </div>
    <div class="success__notification">
        Пароль успешно изменен
    </div>
{% endblock %}

{% block scripts %}{% endblock %}
