{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="box__wrap">
        <div class="form__box">
            <form id="myForm" action="" method="POST">
                {% csrf_token %}
                <div class="form__box-head">
                    <h2 class="form__title">
                        Для продолжения, введите номер телефона
                    </h2>
                </div>
                <label class="form__input-wrap">
                    <input name = "phone_number" id="id_phone_number" type="text" class="form__input form__input-tel" required>
                </label>
                <span style="color: red">
                    {{form.phone_number.errors}}
                </span>
                <button class="form__btn" type="button" onclick="processForm()">
                    Отправить код
                </button>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
    function processForm() {
        let country_code = document.getElementsByClassName('iti__selected-dial-code')
        let number = document.getElementById('id_phone_number')
        phoneNumber = document.getElementById('id_phone_number').value = country_code['0'].innerHTML + number.value.replace(/\s+/g, '')
        sessionStorage.setItem('phone_number', phoneNumber);
        $("#myForm").submit()
    }
</script>
{% endblock %}
